*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.so
*.o
a.out
.vscode
trtoss/
build/
*.qdrep
bert-base-uncased
*.onnx
*.trt
libtorch
TensorRT-8.5.3.1
cuda-samples
*.raw
*.pgm
chapter3/stream_test_multi_thread_1
chapter3/stream_test_multi_thread_0
lib
*.zip
*.rar
*.tar.gz
*.tar
*.plan
__pycache__
